## Installing Dependencies

In [3]:
%pip install ta

Collecting ta
  Downloading ta-0.11.0.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from ta) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from ta) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->ta) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->ta) (1.17.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.11.0-py3-none-any.whl size=29412 sha256=2984a0b1e35b48371739898f2a79658de66aaa3344f877ad0c4797ab3cbeb14b
  Stored in directory: /root/.cache/pip/wheels/5c/a1/5f/c6b85a7d9452057be4ce68a8e45d77ba34234a6d46581777c6
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.11.0

## GPU Configuration

In [5]:
%load_ext cudf.pandas

# Loading Datasets

NOTE: Upload files to the colab before running the below cell

In [119]:
import pandas as pd

column_map = {'c': 'close', 'h' : 'high', 'l' : 'low', 'o' : 'open', 't' : 'date', 'v' : 'volume'}

df_price = pd.read_json('/content/aapl_price.json')[column_map.keys()].rename(columns=column_map)
df_fundamentals = pd.read_csv('/content/aapl_fundamentals.csv').rename(columns={'Quarter End Date' : 'date'})
df_vix = pd.read_csv('/content/vix.csv').rename(columns={'DATE' : 'date'})

/usr/local/lib/python3.12/dist-packages/cudf/io/json.py:247: UserWarning: Using CPU via Pandas to read JSON dataset, this may be GPU accelerated in the future
  warnings.warn(

In [120]:
display(df_price.head())
display(df_fundamentals.head())
display(df_vix.head())

   close   high    low   open                  date     volume
0  23.78  23.78  23.02  23.16  2016-01-04T05:00:00Z  287741356
1  23.18  23.89  23.11  23.87  2016-01-05T05:00:00Z  234762144
2  22.73  23.10  22.54  22.69  2016-01-06T05:00:00Z  284319308
3  21.77  22.60  21.76  22.27  2016-01-07T05:00:00Z  343985812
4  21.88  22.37  21.84  22.24  2016-01-08T05:00:00Z  300265168

         date EBITDA (USD millions) EV (USD millions)
0  2025-09-30                35,550         3,790,000
1  2025-06-30                31,032         3,060,000
2  2025-03-31                32,250         3,340,000
3  2024-12-31                45,912         3,920,000
4  2024-09-30                32,502         3,550,000

         date   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

# Data Curation

### DateTime Conversion

In [121]:
df_price['date'] = pd.to_datetime(df_price['date']).dt.tz_localize(None).dt.normalize()
df_fundamentals['date'] = pd.to_datetime(df_fundamentals['date']).dt.normalize()
df_vix['date'] = pd.to_datetime(df_vix['date']).dt.normalize()

In [122]:
print(df_price.dtypes)
print(df_fundamentals.dtypes)
print(df_vix.dtypes)

close            float64
high             float64
low              float64
open             float64
date      datetime64[ns]
volume             int64
dtype: object
date                     datetime64[ns]
EBITDA (USD millions)            object
EV (USD millions)                object
dtype: object
date     datetime64[ns]
OPEN            float64
HIGH            float64
LOW             float64
CLOSE           float64
dtype: object

### Numeric Column Conversion

In [123]:
df_fundamentals = df_fundamentals.replace(to_replace=',', value='', regex=True).astype({'EBITDA (USD millions)' : 'float', 'EV (USD millions)' : 'float'})

### Time Series Index

In [124]:
df_price = df_price.set_index('date')
df_fundamentals = df_fundamentals.set_index('date')
df_vix = df_vix.set_index('date')

# Feature Engineering

## MACD

In [125]:
from ta.trend import MACD

macd = MACD(df_price['close'])

df_price['macd_line'] = macd.macd()
df_price['macd_diff'] = macd.macd_diff()
df_price['macd_signal'] = macd.macd_signal()

## RSI

In [126]:
from ta.momentum import RSIIndicator

rsi = RSIIndicator(df_price['close'])

df_price['rsi'] = rsi.rsi()

## EV/EBIDTA

In [127]:
df_fundamentals['ev_ebidta'] = df_fundamentals['EV (USD millions)']/df_fundamentals['EBITDA (USD millions)']

## VIX Daily Returns

In [128]:
df_vix['vix_prct_returns'] = df_vix['CLOSE'].pct_change() * 100

## Closing price Daily Returns

In [129]:
df_price['daily_prct_change'] = df_price['close'].pct_change() * 100

## Data Set Creation

Combining different data sets into one

In [130]:
df = pd.concat([df_price[['close', 'daily_prct_change', 'macd_line', 'macd_diff', 'macd_signal', 'rsi', 'volume']], df_fundamentals[['ev_ebidta']], df_vix[['vix_prct_returns']]], axis=1)

Forward fill the ev_ebidta since its quarterly data

In [131]:
df['ev_ebidta'] = df['ev_ebidta'].ffill()

filtering nan rows

In [132]:
df = df.dropna()

aligning columns

In [134]:
df = df[['close', 'volume', 'macd_line', 'macd_diff', 'macd_signal', 'rsi', 'ev_ebidta', 'vix_prct_returns', 'daily_prct_change']]

writing to a csv file

In [136]:
df.to_csv("/content/aapl_model_dataset.csv", index=True, header=True)

# Resources

* [https://www.kaggle.com/code/yasirabdaali/make-pandas-super-fast-with-gpu-acceleration](https://www.kaggle.com/code/yasirabdaali/make-pandas-super-fast-with-gpu-acceleration)
* [https://technical-analysis-library-in-python.readthedocs.io/en/latest/ta.html](https://technical-analysis-library-in-python.readthedocs.io/en/latest/ta.html)
* [https://pandas.pydata.org/docs/reference/index.html](https://pandas.pydata.org/docs/reference/index.html)